@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

.channelNavLink {
    text-decoration: none;
    color: rgb(203,207,211);
    display: inline-block;
    height: 100%;
    width: 100%;
    font-size: 1.1em;
    font-weight: 400;
    display: flex;
    align-items: center;
    padding-left: 1.5em;
    font-family: 'Lato', sans-serif;
}

.channelTitle {
    padding-left: .6em;
}
